/*************************/
/* CSS Custom Properties */
/*************************/

:root {
    --color-secondary: #333; 
}


/******************/
/* Type selectors */
/******************/

body {
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: var(--color-secondary);
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}


/****************/
/* Id Selectors */
/****************/

#main-header {
    background-color: #bbe9f1;
    margin: 0;
    padding: 10px;
}


/*******************/
/* Class Selectors */
/*******************/

.course-summary {
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    background-color: #eee;
    margin: 20px;
    padding: 10px;
}

.featured {
    background-color: #b1ccf8;
}


/***************/
/* Descendants */
/***************/

/* any image, which is a descendant of an element with the class .course-summary  */
.course-summary img {
    width: auto;
    max-height: 140px;
}

.course-summary img:hover {
    box-shadow: 2px 2px 15px 2px var(--color-secondary);
    transition: all 0.5s;
}


@media (min-width: 800px) {
    .item-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item-list section {
        flex: 0 0 calc(33% - 62px);
    }
}